<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
    <ul class="footer-navigation">
      <li class="footer-link">
        <a class="footer-underline" href="#">Contacts</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="#">Rules</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="#">FAQ</a>
      </li>
    </ul>
    <ul class="footer-pay">
      <li class="footer-link">
        <a class="footer-underline" href="#">
          <img class="footer-img" src="/img/footer/visa.png" alt="Visa" loading="lazy" width="100" height="20">
        </a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="#">
          <img class="footer-img" src="/img/footer/mastercard.png" alt="Mastercard" loading="lazy" width="100" height="50">
        </a>
      </li>
    
      <li class="footer-link">
        <a class="footer-underline" href="#">
          <img class="footer-img" src="/img/footer/skrill.png" alt="Skrill" loading="lazy" width="100" height="30">
        </a>
      </li>
    </ul>
    </div>
    <p class="footer-text">Copyright 2025 <a class="footer-span" href="#">cosmobet.com</a> </p>
  </div>
</footer>
