<!-- Hero section -->
<section class="hero-section" id="Home">
    <div class="container">
        <h1 class="hero-title">Cosmobet <span class="hero-span">Casino</span></h1>
        <p class="hero-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="hero-baner">
          <p class="baner-text">Free bonus</p> 
        <a class="hero-img-button pulse" href="#">Get bonus</a>
        <p class="hero-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        </div>
    </div>
</section>
<!-- Swiper section -->
<section class="second-section" id="Review">
    <div class="container">
        <h2 class="second-title">Play and Win</h2>
        <div class="swiper game-swiper-one">
            <div class="swiper-wrapper game-swiper-wrapper">
                <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2450efc37d01.png" alt="Slide" loading="lazy">
                </div>
        <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2457e32d18c7.png" alt="Slide" loading="lazy">
            </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24593ef2f5c1.png" alt="Slide" loading="lazy">
                </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24613e02ff62.png" alt="Slide" loading="lazy">
                </div>
             <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2450efc37d01.png" alt="Slide" loading="lazy">
                </div>
        <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2457e32d18c7.png" alt="Slide" loading="lazy">
            </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24593ef2f5c1.png" alt="Slide" loading="lazy">
                </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24613e02ff62.png" alt="Slide" loading="lazy">
                </div>
            </div>
        </div>
    <div class="swiper game-swiper-two">
            <div class="swiper-wrapper game-swiper-wrapper">
                <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2450efc37d01.png" alt="Slide" loading="lazy">
                </div>
        <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2457e32d18c7.png" alt="Slide" loading="lazy">
            </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24593ef2f5c1.png" alt="Slide" loading="lazy">
                </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24613e02ff62.png" alt="Slide" loading="lazy">
                </div>
             <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2450efc37d01.png" alt="Slide" loading="lazy">
                </div>
        <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e2457e32d18c7.png" alt="Slide" loading="lazy">
            </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24593ef2f5c1.png" alt="Slide" loading="lazy">
                </div>
           <div class="swiper-slide game-swiper-slide">
<img src="/img/second/49,0e24613e02ff62.png" alt="Slide" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Text section -->
<section class="third-section" id="Bonus">
    <div class="container">
        <h2 class="third-title">Promotions</h2>
        <p class="hero-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</section>
<!-- Accordion section -->
<section class="faq-section" id="Spins">
    <div class="container">
    <h2 class="faq-title">Frequently Asked Questions</h2> 
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        What is Cosmobet?

                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.0096 3.26123C12.2084 3.26135 12.3989 3.34036 12.5395 3.4809C12.68 3.62144 12.759 3.81201 12.7591 4.01076L12.7591 20.9813C12.7627 21.082 12.7459 21.1823 12.7099 21.2764C12.6738 21.3704 12.6192 21.4562 12.5492 21.5287C12.4793 21.6011 12.3954 21.6588 12.3027 21.6981C12.21 21.7375 12.1103 21.7578 12.0096 21.7578C11.9089 21.7578 11.8092 21.7375 11.7165 21.6981C11.6238 21.6588 11.54 21.6011 11.47 21.5287C11.4001 21.4562 11.3454 21.3704 11.3093 21.2764C11.2733 21.1823 11.2565 21.082 11.2601 20.9813L11.2601 4.01076C11.2602 3.81201 11.3392 3.62144 11.4797 3.4809C11.6203 3.34036 11.8109 3.26135 12.0096 3.26123Z"
                                    fill="#2E5D86" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.2444 12.496C21.2443 12.6948 21.1653 12.8854 21.0247 13.0259C20.8842 13.1664 20.6936 13.2455 20.4949 13.2456H3.52432C3.33011 13.2387 3.14615 13.1568 3.01118 13.0169C2.87621 12.8771 2.80078 12.6904 2.80078 12.496C2.80078 12.3017 2.87621 12.115 3.01118 11.9752C3.14615 11.8353 3.33011 11.7534 3.52432 11.7465H20.4949C20.6936 11.7466 20.8842 11.8256 21.0247 11.9662C21.1653 12.1067 21.2443 12.2973 21.2444 12.496Z"
                                    fill="#2E5D86" />
                            </svg>
                        </span>
                    </button>
                </h3>

                <p class="faq-acc-el-descr-frame">Cosmobet is an online gaming and entertainment platform that offers a wide range of casino games, slots, and live
                experiences with a modern design and user-friendly interface.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        How do I create an account on Cosmobet?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.0096 3.26123C12.2084 3.26135 12.3989 3.34036 12.5395 3.4809C12.68 3.62144 12.759 3.81201 12.7591 4.01076L12.7591 20.9813C12.7627 21.082 12.7459 21.1823 12.7099 21.2764C12.6738 21.3704 12.6192 21.4562 12.5492 21.5287C12.4793 21.6011 12.3954 21.6588 12.3027 21.6981C12.21 21.7375 12.1103 21.7578 12.0096 21.7578C11.9089 21.7578 11.8092 21.7375 11.7165 21.6981C11.6238 21.6588 11.54 21.6011 11.47 21.5287C11.4001 21.4562 11.3454 21.3704 11.3093 21.2764C11.2733 21.1823 11.2565 21.082 11.2601 20.9813L11.2601 4.01076C11.2602 3.81201 11.3392 3.62144 11.4797 3.4809C11.6203 3.34036 11.8109 3.26135 12.0096 3.26123Z"
                                    fill="#2E5D86" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.2444 12.496C21.2443 12.6948 21.1653 12.8854 21.0247 13.0259C20.8842 13.1664 20.6936 13.2455 20.4949 13.2456H3.52432C3.33011 13.2387 3.14615 13.1568 3.01118 13.0169C2.87621 12.8771 2.80078 12.6904 2.80078 12.496C2.80078 12.3017 2.87621 12.115 3.01118 11.9752C3.14615 11.8353 3.33011 11.7534 3.52432 11.7465H20.4949C20.6936 11.7466 20.8842 11.8256 21.0247 11.9662C21.1653 12.1067 21.2443 12.2973 21.2444 12.496Z"
                                    fill="#2E5D86" />
                            </svg>
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Click on the "Sign Up" button, fill in the required details (email, password, and personal information), and confirm
                your registration. Once your account is verified, you can start playing instantly.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Is Cosmobet safe to use?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.0096 3.26123C12.2084 3.26135 12.3989 3.34036 12.5395 3.4809C12.68 3.62144 12.759 3.81201 12.7591 4.01076L12.7591 20.9813C12.7627 21.082 12.7459 21.1823 12.7099 21.2764C12.6738 21.3704 12.6192 21.4562 12.5492 21.5287C12.4793 21.6011 12.3954 21.6588 12.3027 21.6981C12.21 21.7375 12.1103 21.7578 12.0096 21.7578C11.9089 21.7578 11.8092 21.7375 11.7165 21.6981C11.6238 21.6588 11.54 21.6011 11.47 21.5287C11.4001 21.4562 11.3454 21.3704 11.3093 21.2764C11.2733 21.1823 11.2565 21.082 11.2601 20.9813L11.2601 4.01076C11.2602 3.81201 11.3392 3.62144 11.4797 3.4809C11.6203 3.34036 11.8109 3.26135 12.0096 3.26123Z"
                                    fill="#2E5D86" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.2444 12.496C21.2443 12.6948 21.1653 12.8854 21.0247 13.0259C20.8842 13.1664 20.6936 13.2455 20.4949 13.2456H3.52432C3.33011 13.2387 3.14615 13.1568 3.01118 13.0169C2.87621 12.8771 2.80078 12.6904 2.80078 12.496C2.80078 12.3017 2.87621 12.115 3.01118 11.9752C3.14615 11.8353 3.33011 11.7534 3.52432 11.7465H20.4949C20.6936 11.7466 20.8842 11.8256 21.0247 11.9662C21.1653 12.1067 21.2443 12.2973 21.2444 12.496Z"
                                    fill="#2E5D86" />
                            </svg>
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Yes. Cosmobet uses advanced encryption technology and follows strict security standards to protect your personal data
                and transactions, ensuring a safe and fair gaming experience.</p>
            </li>
        </ul>
    </div>
</section>