.header {
  background: #000;
  border-bottom: 1px solid #0ff;
  position: fixed;
  top: 0px;
  left: 40%;
  transform: translateX(-40%);
  z-index: 1003;
  height: 48px;
  width: 100%;
}

.header-container {
  padding: 12px 24px;
}

.menu-button {
  display: block;
  background-color: inherit;
  width: 24px;
  height: 24px;
  border: none;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

.modal {
  display: none;
  height: auto;
  width: 375px;
  background: inherit;
  border-bottom: 1px solid #0ff;
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 16px 40px;
  transition: visibility 0.3s ease;
}
.logo-mob{
  margin-top: 40px;
  margin-left: 40px;
  width: 100px;
  height: 40px;
  display: block;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
  align-items: center;
  text-align: left;
  margin-bottom: 40px;
}

.menu-item { 
  color: #0ff;
  transition: border-bottom 0.3s ease;
  padding: 8px 0px;
  width: 100px;
  height: 35px;
  text-align: center;
}

.menu-item:active,
.menu-item:hover,
.menu-item:focus {
  border-bottom: 1px solid #cf0e48;
}
.btn-mob-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.login-btn{
  width: 140px;
  height: 60px;
  display: block;
  background-color: #cf0e48;
  border: none;
  color: #000;
  border-radius: 20px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}
.login-btn:hover{
  transform: scale(1.1);
  font-weight: 600;
}
.registration-btn{
  width: 140px;
    height: 60px;
    display: block;
    background-color: #0ff;
    border: none;
    color: #000;
    border-radius: 20px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}
.registration-btn:hover {
  transform: scale(1.1);
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
.modal {
    display: none;
    height: auto;
    width: 375px;
    background: inherit;
    border-bottom: 1px solid #0ff;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 76%;
    transform: translateX(-50%);
    padding: 30px 16px 40px;
    transition: visibility 0.3s ease;
  }
}

@media screen and (min-width: 1200px) {
  .header{
    height: 80px;
  }
  .header-container {
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation-list {
    display: flex;
    gap: 20px;
  }

  .navigation-item {
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 8px;
    width: 100px;
    height: 30px;
    transition: all 0.3s ease;
  }

  .menu-button {
    display: none;
  }

  .navigation-item:hover {
      font-weight: 600;
  }

  .navigation-item.active {
      border-bottom: 1px solid #0ff;
    font-weight: 600;
    font-size: 18px;
    }
    .btn-mob-wrapper{
      flex-direction: row;
      margin-top: 0;
    }
    .login-btn,
    .registration-btn{
      height: 40px;
      font-size: 16px;
    }
    .logo-mob{
      margin-top: 0;
      display: flex;
      align-items: center;
    }
}